.Container {
  display: flex;
  justify-content: center;
}

.Title {
  text-align: center;
}

.Card {
  max-width: 600px;
  width: 100%;
}

.Link {
  margin-top: 20px;
}

.Footer {
  text-align: center;
}
